.task
bin
release
wails_windows_*.syso
frontend/dist
frontend/node_modules
build/android
build/ios
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
third_party/wails-v3-runtime/**/.gitignore
third_party/wails-v3-runtime/**/.nojekyll
third_party/wails-v3-runtime/**/*_test.go
third_party/wails-v3-runtime/**/*.test.js
third_party/wails-v3-runtime/**/README.md
third_party/wails-v3-runtime/**/Taskfile.yaml
third_party/wails-v3-runtime/**/TODO.md
third_party/wails-v3-runtime/**/internal/tests
third_party/wails-v3-runtime/internal/dbus/*.xml
third_party/wails-v3-runtime/internal/dbus/generate.sh
third_party/wails-v3-runtime/internal/runtime/desktop/@wailsio/runtime/docs
